* {
	box-sizing: border-box;
}

.html {
	height: 100%;
	min-width: 27rem;
}

.body {
	display: grid;
	grid-template-rows: auto 1fr 1fr;
	height: 100%;
	margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Top Links & Buttons */
.top-links,
.top-left-links,
.top-right-links-and-buttons,
.top-right-links,
.buttons {
	display: flex;
	align-items: center;
}

.top-links {
	gap: 4.25rem;
	justify-content: space-between;
	padding: 0.75em 1.5em 0;
}

.top-left-links,
.top-right-links-and-buttons,
.top-right-links {
	gap: 1rem;
}

.buttons {
	gap: 0.75rem;
}

.link,
.sign-in-button {
	text-decoration-line: none;
	font-family: Arial, sans-serif;
	font-size: 0.9rem;
}

/* Top Links */
.link:not(
	.google-apps-button .link,
	.sign-in-button .link) {
	color: hsl(0, 0%, 0%);
}

.link:not(
	.google-apps-button .link,
	.sign-in-button .link):hover {
	text-decoration-line: underline;
}

/* Google Apps Button */
.google-apps-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	text-decoration-line: none;
	background: transparent;
	border: transparent;
	border-radius: 50%;
	color: hsl(0, 0%, 30%);
	cursor: pointer;
}

.google-apps-button:hover {
	background-color: hsla(0, 0%, 85%, 0.4);
}

/* Sign-in Button */
.sign-in-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.25rem;
	width: 6rem;
	background-color: hsl(214, 80%, 50%);
	border: transparent;
	border-radius: 4px;
	color: hsl(0, 0%, 100%);
}

.sign-in-button:hover {
	box-shadow: 0 1px 3px hsl(214, 100%, 80%);
	background-color: hsl(214, 80%, 55%);
}

/* Google Search */
.google-search-controls {
	align-self: center;
	padding: 0 1.25em;
}

.google-logo {
	display: block;
	margin: 0 auto;
}

/* Search Bar */
.google-search {
	display: flex;
	height: 2.75rem;
	margin: 1.75rem auto;
	max-width: 36rem;
	padding: 0 0.65em;
	border: 1px solid hsl(0, 0%, 86%);
	border-radius: 2rem;
}

.mag-glass {
	align-self: center;
	color: hsla(0, 0%, 45%, 0.5);
	cursor: default;
	transform: scale(0.8);
}

.search-bar {
	flex: 1;
	padding: 0 0.5em;
	border: transparent;
	outline: transparent;
	font-size: 1rem;
}

.search-by-voice-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.75em;
	background-color: transparent;
	border: transparent;
	cursor: pointer;
}

.google-search:hover {
	border-color: transparent;
	box-shadow:
	    0px 3px 5px 0 hsl(0, 0%, 88%),
	    0px -1px 5px 0 hsl(0, 0%, 88%);
}

/* Search Buttons */
.search-buttons {
	display: flex;
	gap: 0.7rem;
	justify-content: center;
}

.search-button {
	padding: 0.65em 1em;
	font-size: 0.9rem;
	background-color: hsla(0, 0%, 90%, 0.3);
	border: 1px solid transparent;
	border-radius: 4px;
	color: hsl(0, 0%, 25%);
	cursor: pointer;
}

.search-button:hover {
	border: 1px solid hsl(0, 0%, 90%);
	box-shadow: 0 1px 2px 0 hsl(0, 0%, 90%);
	color: hsl(0, 0%, 10%);
}