/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Header (navigation) */
[alt="Google Apps"] {
	opacity: 0.55;
	padding-top: 0.1em;
}

[alt="Google Apps"]:hover {
	opacity: 1;
}

#nav {
	align-items: center;
    display: flex;
    flex-flow: row wrap;
	justify-content: center;
    list-style-type: none;
	margin: 1em 1.5em;
}

#nav a {
	color: rgb(59, 56, 56);
    display: block;
	font-family: Arial, sans-serif;
	font-size: 0.85em;
	padding: 0 0.5em;
    text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
}

#sign-in {
	border: 0.01em solid #4285f4;
	border-radius: 0.2em;
	background: #4285f4;
	color: #fff;
	cursor: pointer;
	font-size: 0.85em;
	font-weight: 800;
    padding: 0.5em 0.85em;
	margin: 0 0.7em;
}

#sign-in:hover {
	box-shadow: 0 0.1em 0.1em #ccc;
}

/* Logo, search bar, and search buttons */
div button {
	background-color: #f5f5f5;
	border: 0.1em solid #f5f5f5;
	border-radius: 0.3em;
	color: rgb(93, 90, 90);
	cursor: pointer;
	font-size: 0.875em;
	margin: 0 0.5em;
	padding: 0.8em 1.2em;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.logo, .search-bar-wrapper {
    display: block;
    margin: auto;
	width: max-content;
}

.material-icons {
	position: absolute;
}

.mic-icon {
	padding: 0.475em;
	left: 91.75%;
	top: -1%;
	width: 4%;
}

.search:hover {
	border: 0.1em solid #ccc;
	box-shadow: 0 0.2em 0.2em rgb(238, 231, 231);
	color: #000;
}

.search-bar {
	border: 0.1em solid rgb(223, 217, 217);
	border-radius: 40px;
	font-size: 1em;
	height: 45px;
	outline: none;
	padding: 0 3.5em;
	width: 36em;
}

.search-bar:hover, .search-bar:focus {
	border: none;
	box-shadow: 0 0.3em 0.4em rgb(238, 231, 231),
	-0.1em 0 0.2em rgb(238, 231, 231),
	0.1em 0 0.2em rgb(238, 231, 231),
	0 -0.1em 0.2em rgb(238, 231, 231);
}

.search-bar-wrapper {
    position: relative;
}

#search-buttons {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 2em;
}

.search-icon {
	opacity: 0.35;
	padding: 0.5em 0 0.5em 0.8em;
	top: 3%;
	width: 3.5%;
}

/* Footer */
#footer {
	background-color: #f1eeee;
	border-top: 0.1em solid #ccc;
	bottom: 0;
    display: flex;
    flex-flow: row wrap;
	justify-content: center;
    list-style-type: none;
	position: fixed;
	width: 100%;
}

#footer a {
	color: rgb(85, 82, 82);
    display: block;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	padding: 0.9em;
    text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}
